label {
  display: block;
}

input {
  height: 40px;
  border-radius: 6px;
  box-sizing: border-box;
}

section.console {
  height: calc(100vh - 300px);
  background-color: #23292d;
  overflow: auto;
  color: #c7dbde;
}

section.console ul {
  padding-left: 10px;
}

section.console p.stacktrace {
  margin-left: 10px;
  background-color: #21383e;
  padding: 3px;
  margin-top: -8px;
}

section.console span.timestamp {
  font-style: oblique;
}

section.console span.message {
  color: #d3d3d3;
}

section.console span.level.debug {
  color: orange;
}

section.console span.level.info {
  color: #6bb0ff;
}

section.console span.level.error {
  color: #ff0000;
}

ul {
  list-style-type: none;
}

#actions {
  background-color: #213135;
  color: #c7c7c7;
  font-size: 14px;
  padding: 10px;
  display: flex;
}

#actions > * {
  margin-right: 8px;
}

#actions > #level {
  width: auto;
}

input#screen {
  width: 85px;
  padding-left: 10px;
  font-size: 20px;
  line-height: 40px;
  color: #18435a;
}
