section.console {
  height: calc(100vh - 300px);
  background-color: #080808;
  overflow: auto;
  color: #ddff98;
}

section.console p.stacktrace {
  margin-left: 10px;
  background-color: #272727;
  padding: 3px;
  margin-top: -8px;
}

section.console span.timestamp {
  font-style: oblique;
}

section.console span.message {
  color: #d3d3d3;
}

section.console span.level.debug {
  color: orange;
}

section.console span.level.info {
  color: #6bb0ff;
}

section.console span.level.error {
  color: #ff0000;
}

ul {
  list-style-type: none;
}

#actions {
  background-color: rgb(81, 194, 119);
  color: #080808;
  font-size: 14px;
  padding: 10px;
}

#actions > #level {
  width: 300px;
}
